
API_PORT=3001

APP_BASE_URL=http://localhost:5173


DB_HOST=localhost
DB_PORT=3306
DB_NAME=b3_esport
DB_USER=root
DB_PASSWORD=

# Clé API Riot Games (gratuite, valide 24h) — https://developer.riotgames.com
RIOT_API_KEY=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
RIOT_REGION=eu
PANDASCORE_TOKEN=ton_token_pandascore_ici
